h2 {
  color: #2c3e50;
  margin: 2rem 0 0 2rem;
}

.links {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  a {
    text-decoration: none;
    margin: 1rem;
  }
}

.card-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    flex-flow: column;
  }
}
