body {
  overflow-x: hidden;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.78);
}

#video-play a {
  color: white;
}

.about-img {
  margin-top: -80px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: white;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}
